@use '../custom-properties';
@use '../theme';

.simple {
  @include theme.property(width, calc(x - y), $replace: (x: 100%, y: 20px));
}

.var {
  $prop: custom-properties.create(--m-foo, 16px);
  @include theme.property(width, calc(2 * prop), $replace: (prop: $prop));
}

.naming {
  $foo: 100vw;
  $bar: 2;
  @include theme.property(
    width,
    calc($foo / $bar),
    $replace: theme.replace($foo: $foo, $bar: $bar)
  );
}

.multiple {
  @include theme.property(width, calc(x + x + x), $replace: (x: 8px));
}
